<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">AG Grid Load Test
  <span class="badge badge-warning">{{ rowCount}} Rows</span></nav>
  <ag-grid-angular #agGrid style="width: 98vw; height: 85vh;" class="ag-theme-dark" [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <div class="btn-group float-right mt-2" role="group" aria-label="Basic example">
        <button type="button" (click)="initializeWebSocketConnection()" class="btn btn-success">Connect</button>
        <button type="button" (click)="disconnectWebSocketConnection()" class="btn btn-danger">Disconnect</button>
      </div>
    </div>
  </div>
</div>